*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background: linear-gradient(135deg,#ff9a9e,#fad0c4,#fad0c4,#fbc2eb);
min-height:100vh;
}

/* HEADER */

header{
background: linear-gradient(90deg,#ff512f,#dd2476);
color:white;
padding:25px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

header h1{
font-size:40px;
letter-spacing:2px;
}

/* NAVBAR */

nav{
margin-top:15px;
}

nav a{
color:white;
margin:12px;
font-size:18px;
text-decoration:none;
font-weight:bold;
padding:8px 14px;
border-radius:20px;
transition:0.3s;
}

nav a:hover{
background:white;
color:#ff512f;
}

/* MAIN CONTAINER */

.container{
width:85%;
margin:40px auto;
}

/* CARD DESIGN */

.card{
background:white;
padding:25px;
margin-bottom:25px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 12px 25px rgba(0,0,0,0.25);
}

h2{
color:#dd2476;
margin-bottom:10px;
}

h3{
color:#ff512f;
margin-top:15px;
}

p{
line-height:1.7;
margin-top:10px;
}

/* LIST */

ul{
margin-top:10px;
padding-left:20px;
}

/* FORM */

form{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
width:400px;
margin:auto;
}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

button, input[type="submit"]{
background:linear-gradient(90deg,#ff512f,#dd2476);
color:white;
border:none;
padding:12px;
font-size:16px;
border-radius:25px;
cursor:pointer;
transition:0.3s;
}

button:hover,input[type="submit"]:hover{
transform:scale(1.05);
}

/* FOOTER */

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}
